{% extends 'base.html' %}


{% block title %}
Ads
{% endblock %}


{% block body %}
<div class="container mt-5">
  <h1>Все объявления</h1>

  {% if ads|length > 0 %}
    {% for ad in ads %}
      <div class="alert alert-info">
        <h2>{{ ad.header }}</h2>
        <p>{{ ad.description }}</p>
        <br>
        <p><b>Дата создания: {{ ad.creation_date }}</b></p>
        <p><em>Владелец: {{ ad.owner }}</em></p>
        <a href="/ads/{{ ad.id }}" class="btn btn-success">Перейти</a>
        <br>
      </div>
    {% endfor %}
  {% else %}
    <p>На данный момент не добавлено ни одной статьи</p>
  {% endif %}
</div>
{% endblock %}