{% extends 'base.html' %}


{% block title %}
UpdateAd
{% endblock %}


{% block body %}
<div class="container mt-5">
  <h1>Редактирование объявления</h1>
  <form method="post">
    <input type="text" name="header" id="header" class="form-control" value="{{ ad.header }}" placeholder="Введите заголовок"><br>
    <textarea name="description" id="description" class="form-control" placeholder="Введите описание">{{ ad.description }}</textarea><br>
    <input type="text" name="owner" id="owner" class="form-control" value="{{ ad.owner }}" placeholder="Введите ваше имя"><br>
    <input type="submit" class="btn btn-success" value="Принять изменения">
  </form>
</div>
{% endblock %}